@model IEnumerable<DL_SmartAppraisel.Model.AssessmentResponse>

@{
    ViewData["Title"] = "Assessment Review";
    var assessmentID = Model.FirstOrDefault()?.AssessmentID ?? 0;
    var competenceName=ViewBag.Competencies as Dictionary<int, string>;
}

<h3>Assessment Review</h3>
<form asp-action="SubmitReview" method="post">
   
<input type="hidden" name="AssessmentID" value="@assessmentID" />
<table class="table table-bordered table-sm">
    <thead class="table-light">
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Competency</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
         
            <!-- Answer 1 -->
            <tr>
                <td rowspan="4">@item.Question</td>
                <td>@item.Answer1</td>
                <td>@competenceName[item.CompetencyIDForQ1]</td>
            </tr>
            <tr>
                <td>@item.Answer2</td>
                <td>@competenceName[item.CompetencyIDForQ2]</td>
            </tr>
            <tr>
                <td>@item.Answer3</td>
                <td>@competenceName[item.CompetencyIDForQ3]</td>
            </tr>
            <tr>
                <td>@item.Answer4</td>
                <td>@competenceName[item.CompetencyIDForQ4]</td>
            </tr>
        }
    </tbody>
</table>

<input type="text" name="Comments" class="form-control" placeholder="Enter your comments here" />
<button class="btn btn-primary mt-2">Submit Review</button>
</form>
